{% extends "header.html" %}


{% block content %}
<section class="feedContainer">

    <div class="feedBlock">

        <div class="shadow">
        </div>

        <div class="infoContainer">
            <div class="btnContainer">
                <div class="aboutBtn">
                    <a href="#">кликни</a>
                </div>
            </div>
            <h2>ИНТЕРЕСНОЕ СОБЫТИЕ</h2>
        </div>

    </div>

    <div class="feedBlock test">

        <div class="shadow">
        </div>

        <div class="infoContainer">
            <div class="btnContainer">
                <div class="aboutBtn">
                    <a href="#">кликни</a>
                </div>
            </div>
            <h2>ИНТЕРЕСНОЕ СОБЫТИЕ</h2>
        </div>

    </div>

    <div class="feedBlock test2">
        
        <div class="shadow">
        </div>

        <div class="infoContainer">
            <div class="btnContainer">
                <div class="aboutBtn">
                    <a href="#">кликни</a>
                </div>
            </div>
            <h2>ИНТЕРЕСНОЕ СОБЫТИЕ</h2>
        </div>

    </div>
</section>
{% endblock content %}



<!-- Запрет скролла -->

<!-- <script>
    const prevent = ev => ev.preventDefault();
    document.addEventListener('wheel', prevent, {passive: false});
</script> -->
